################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
**/bin
**/obj
/TaskAppointmentManager.UWP/TaskAppointmentManager.UWP.csproj.user
